.App {
  margin: 1rem;
}

.header {
  display: flex;
}

.logo {
  background-color: lightgray;
  border: 2px solid;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 25%;
}

.main {
  display: flex;
  min-height: 60vh;
}

.content {
  width: 70%;
  background: lightgray;
  display: flex;
  align-items: center;
}

.contentBody {
  margin: 0 auto;
}

.signup {
  width: 30%;
  background: darkgray;
  padding: 1rem;
  margin-left: 1rem;
}

.reasons {}

.reasonsHeader {
  text-align: center;
}

.headline {
  text-align: center;
}

.headlineBody, .headlineButton {
  margin: 1rem;
}

.headlineContainer {}

.headlines {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerHeader {
  /* margin: 0 1rem; */
}

.socialList {
  display: flex;
  list-style: none;
  padding: 0;
}

.socialLink {
  margin-right: 0.5rem;
  border: 1px solid;
  border-radius: 50%;
}

.caredash {}

.specialists {}

.social {}

.formFieldContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
}

.menu {
  border: 1px solid;
  min-width: 10rem;
  min-height: 5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}